@using ASP_NET_MVC_Ver1.Common;
@using ASP_NET_MVC_Ver1.Enum;
@model Reservation

@{
    ViewData["Title"] = "Index";
}
@{
    string minDate = DateTime.Now.ToString("yyyy-MM-dd");
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}


<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Đặt lịch hẹn khám</h2>
    </div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            @if (ViewBag.Admin)
            {
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.doctor_id, new SelectList(ViewBag.doctor_lst, "Text", "Value"),
                    "Chọn Bác sĩ",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2" })
                    </div>
                </div>
                <div class="form-group  col-md-6">
                    @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.parent_id, new SelectList(ViewBag.parent_lst, "Text", "Value"),"Chọn Phụ huynh", htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2" , @onchange = "FillState(this.value)" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.child_id, new SelectList(ViewBag.child_lst, "Text", "Value"),
                    "Chọn trẻ em",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.category_lst, "Text", "Value"),
                    "Chọn khoa",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2" })
                    </div>
                </div>

                @Html.LabelFor(model => model.r_title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group col-md-6">
                    <div class="col-md-10">
                        <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám">
                    </div>
                </div>
                @Html.LabelFor(model => model.r_content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group col-md-6">
                    <div class="col-md-10">
                        <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán">

                    </div>
                </div>
                @Html.LabelFor(model => model.booking_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group col-md-6">
                    <div class="col-md-10">
                        <input type="date" class="form-control datepicker" asp-for="booking_date" id="birthDateInput" min="@minDate" asp-format="{0:yyyy-MM-dd}">
                        <span asp-validation-for="booking_date" class=" alert-danger"></span>
                    </div>
                </div>
                @Html.LabelFor(model => model.slot, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group col-md-6">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.slot, new SelectList(ViewBag.lstSlot, "Text", "Value"),
                    //"Chọn Ca khám",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2"})
                    </div>
                </div>
                @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group col-md-6">
                    <div class="col-md-10">
                        <input type="text" class="form-control mb-3" asp-for="Desciption" placeholder="Thông tin thêm">
                    </div>
                </div>


                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group col-md-6">
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.status, new SelectList(Enum.GetValues(typeof(StatusSending)).Cast<StatusSending>().Select(e => new { Id = e, Name = e.GetDisplayName() }), "Id", "Name"), htmlAttributes: new { @class = "form-control col-md-2"} )
                    </div>
                </div>
            }
            else if (ViewBag.Doctor)
            {
                @if (ViewBag.ApproveTotal == (int)StatusSending.Process)
                {
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.doctor_id)
                        @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.doctor_id, new SelectList(ViewBag.doctor_lst, "Text", "Value"),
                    "Chọn bác sĩ",
                    htmlAttributes: new { @id = "Doctor", @class = "form-control col-md-2", @disabled = true, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.parent_id)
                        @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.parent_id, new SelectList(ViewBag.parent_lst, "Text", "Value"),
                    //"Chọn trẻ em",
                    htmlAttributes: new { @id = "Parent", @class = "form-control col-md-2", @disabled = true, @readonly = "readonly"})
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.child_id)
                        @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.child_id, new SelectList(ViewBag.child_lst, "Text", "Value"),
                    "Chọn trẻ em",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2", @disabled = true, @readonly = "readonly"})
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.category_lst, "Text", "Value"),
                    "Chọn khoa",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2" })
                        </div>
                    </div>

                    @Html.LabelFor(model => model.r_title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám">
                        </div>
                    </div>
                    @Html.LabelFor(model => model.r_content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán">

                        </div>
                    </div>
                    @Html.LabelFor(model => model.booking_date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="date" class="form-control datepicker" asp-for="booking_date" id="birthDateInput" min="@minDate" asp-format="{0:yyyy-MM-dd}">
                            <span asp-validation-for="booking_date" class=" alert-danger"></span>
                        </div>
                    </div>
                    @Html.LabelFor(model => model.slot, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.slot, new SelectList(ViewBag.lstSlot, "Text", "Value"),
                    //"Chọn Ca khám",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2"})
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="text" class="form-control mb-3" asp-for="Desciption" placeholder="Thông tin thêm">
                        </div>
                    </div>


                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.status, new SelectList(Enum.GetValues(typeof(StatusSending)).Cast<StatusSending>().Select(e => new { Id = e, Name = e.GetDisplayName() }), "Id", "Name"), htmlAttributes: new { @class = "form-control col-md-2"} )
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.doctor_id)
                        @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.doctor_id, new SelectList(ViewBag.doctor_lst, "Text", "Value"),
                    "Chọn bác sĩ",
                    htmlAttributes: new { @id = "Doctor", @class = "form-control col-md-2", @disabled = true, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.parent_id)
                        @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.parent_id, new SelectList(ViewBag.parent_lst, "Text", "Value"),
                    //"Chọn trẻ em",
                    htmlAttributes: new { @id = "Parent", @class = "form-control col-md-2", @disabled = true})
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.child_id)
                        @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.child_id, new SelectList(ViewBag.child_lst, "Text", "Value"),
                    "Chọn trẻ em",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2", @disabled = true })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.category_lst, "Text", "Value"),
                    "Chọn khoa",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2", @disabled = true })
                        </div>
                    </div>

                    @Html.LabelFor(model => model.r_title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám" disabled=true>
                        </div>
                    </div>
                    @Html.LabelFor(model => model.r_content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán" disabled=true>

                        </div>
                    </div>
                    @Html.LabelFor(model => model.booking_date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="date" class="form-control datepicker" asp-for="booking_date" id="birthDateInput" min="@minDate" asp-format="{0:yyyy-MM-dd}" disabled=true>
                            <span asp-validation-for="booking_date" class=" alert-danger"></span>
                        </div>
                    </div>
                    @Html.LabelFor(model => model.slot, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.slot, new SelectList(ViewBag.lstSlot, "Text", "Value"),
                    //"Chọn Ca khám",
                    htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-2", @disabled=true})
                        </div>
                    </div>
                    @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            <input type="text" class="form-control mb-3" asp-for="Desciption" placeholder="Thông tin thêm" disabled=true>
                        </div>
                    </div>

                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-6">
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.status, new SelectList(Enum.GetValues(typeof(StatusSending)).Cast<StatusSending>().Select(e => new { Id = e, Name = e.GetDisplayName() }), "Id", "Name"), htmlAttributes: new { @class = "form-control col-md-2", @disabled=true} )
                        </div>
                    </div>
                }

            }

            @if (ViewBag.ApproveTotal == (int)StatusSending.Process)
            {
                <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill">Xác nhận</i></button>
            }else if (ViewBag.Admin)
            {
                <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill">Xác nhận</i></button>
            }
            <a asp-controller="Reservation" asp-action="Index" class="btn btn-lg btn-warning p-2">Trở lại</a>

    </form>

</div>


@*//for front end validations*@
<script>
    function FillState(val) {
        var url = "/api/GetData/GetChildren?parentId=" + val;
        var countryParam = $('#profileCountry').val();
        $.ajax({
            url: url,
            type: "GET",
            dataType: "JSON",
            data: { country: countryParam },
            success: function (states) {
                debugger;
                $("#profileState").html(""); // clear before appending new list
                $.each(states, function (i, statetest) {
                    $("#profileState").append(
                        $('<option></option>').val(statetest.text).html(statetest.value));
                });
            }
        });
        $('#Parent').change(function () {
            var selectedValue = $(this).val();
            $('#parent_id').val(selectedValue);

            $('#Doctor').change(function () {
                var selectedValue = $(this).val();
                $('#doctor_id').val(selectedValue);

            });
            $('#profileCountry').change(function () {
                var selectedValue = $(this).val();
                $('#child_id').val(selectedValue);

            });
            
        }
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}