@using ASP_NET_MVC_Ver1.Common;
@using ASP_NET_MVC_Ver1.Enum;
@model Reservation

@{
    string minDate = DateTime.Now.ToString("yyyy-MM-dd");
}
<style>
    body {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
    }

    .container-a {
        margin-top: 50px;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #007bff;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
</style>

<div class="container-a">
    <div class="row pb-2">
        <h2>Booking Information</h2>
    </div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="row">
            @if (ViewBag.Admin)
            {
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.doctor_id, new SelectList(ViewBag.doctor_lst, "Text", "Value"),
                "Chọn Bác sĩ",
                htmlAttributes: new { @id = "DoctorSelected", @class = "form-control col-md-4" , @onchange = "callAPIBooking(this.value)" })
                </div>
                <div class="form-group  col-md-6">
                    @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.parent_id, new SelectList(ViewBag.parent_lst, "Text", "Value"),"Chọn Phụ huynh", htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4" , @onchange = "FillState(this.value)" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.child_id, new SelectList(ViewBag.child_lst, "Text", "Value"),
                "Chọn trẻ em",
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.category_lst, "Text", "Value"),
                "Chọn khoa",
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.r_title, htmlAttributes: new { @class = "control-label col-md-4" })
                    <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám">
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.r_content, htmlAttributes: new { @class = "control-label col-md-4" })
                    <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán">
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-4" })
                    <input type="text" class="form-control mb-3" asp-for="Desciption" placeholder="Thông tin thêm">
                </div>


                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(x => x.status, new SelectList(Enum.GetValues(typeof(StatusSending)).Cast<StatusSending>().Select(e => new { Id = e, Name = e.GetDisplayName() }), "Id", "Name"), htmlAttributes: new { @class = "form-control col-md-4"} )
                </div>
            }
            else if (ViewBag.Doctor)
            {
                @if (ViewBag.ApproveTotal == (int)StatusSending.Process)
                {
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.doctor_id)
                        @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.doctor_id, new SelectList(ViewBag.doctor_lst, "Text", "Value"),
                "Chọn Bác sĩ",
                htmlAttributes: new { @id = "DoctorSelected", @class = "form-control col-md-4" ,@disabled = true, @readonly = "readonly", @onchange = "callAPIBooking(this.value)" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.parent_id)
                        @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.parent_id, new SelectList(ViewBag.parent_lst, "Text", "Value"),
                //"Chọn trẻ em",
                htmlAttributes: new { @id = "Parent", @class = "form-control col-md-4", @disabled = true, @readonly = "readonly"})
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.child_id)
                        @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.child_id, new SelectList(ViewBag.child_lst, "Text", "Value"),
                "Chọn trẻ em",
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4", @disabled = true, @readonly = "readonly"})
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.category_lst, "Text", "Value"),
                "Chọn khoa",
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.r_title, htmlAttributes: new { @class = "control-label col-md-4" })
                        <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám">
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.r_content, htmlAttributes: new { @class = "control-label col-md-4" })
                        <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán">
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-4" })
                        <input type="text" class="form-control mb-3" asp-for="Desciption" placeholder="Thông tin thêm">
                    </div>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(x => x.status, new SelectList(Enum.GetValues(typeof(StatusSending)).Cast<StatusSending>().Select(e => new { Id = e, Name = e.GetDisplayName() }), "Id", "Name"), htmlAttributes: new { @class = "form-control col-md-4"} )
                    </div>
                }
                else
                {
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.doctor_id)
                        @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.doctor_id, new SelectList(ViewBag.doctor_lst, "Text", "Value"),
                "Chọn Bác sĩ",
                htmlAttributes: new { @id = "DoctorSelected", @class = "form-control col-md-4" ,@disabled = true, @readonly = "readonly", @onchange = "callAPIBooking(this.value)" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.parent_id)
                        @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.parent_id, new SelectList(ViewBag.parent_lst, "Text", "Value"),
                //"Chọn trẻ em",
                htmlAttributes: new { @id = "Parent", @class = "form-control col-md-4", @disabled = true})
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.child_id)
                        @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.child_id, new SelectList(ViewBag.child_lst, "Text", "Value"),
                "Chọn trẻ em",
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4", @disabled = true })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.category_lst, "Text", "Value"),
                "Chọn khoa",
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4", @disabled = true })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.r_title, htmlAttributes: new { @class = "control-label col-md-4" })
                        <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám" disabled=true>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.r_content, htmlAttributes: new { @class = "control-label col-md-4" })
                        <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán" disabled=true>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-4" })
                        <input type="text" class="form-control mb-3" asp-for="Desciption" placeholder="Thông tin thêm" disabled=true>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownListFor(x => x.status, new SelectList(Enum.GetValues(typeof(StatusSending)).Cast<StatusSending>().Select(e => new { Id = e, Name = e.GetDisplayName() }), "Id", "Name"), htmlAttributes: new { @class = "form-control col-md-4", @disabled=true} )
                    </div>
                }


            }
            @if (ViewBag.ApproveTotal == (int)StatusSending.Process)
            {
                <div class="form-group col-md-6 mb-3">
                    @Html.LabelFor(model => model.booking_date, htmlAttributes: new { @class = "control-label col-md-4" })
                    <input type="date" class="form-control datepicker" asp-for="booking_date" id="birthDateInput" min="@minDate" asp-format="{0:yyyy-MM-dd}">
                    <span asp-validation-for="booking_date" class=" alert-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.slot, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.slot, new SelectList(ViewBag.lstSlot, "Text", "Value"),
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4", @disabled=true})
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="slot">Ca khám cần thay đổi</label>
                    @Html.DropDownListFor(model => model.slot, new SelectList(Enumerable.Empty<SelectListItem>(), "Text", "Value"),
                htmlAttributes: new { @id = "SlotFilter", @class = "form-control col-md-4"})
                </div>
            }
            else
            {
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.booking_date, htmlAttributes: new { @class = "control-label col-md-4" })
                    <input type="date" class="form-control datepicker" asp-for="booking_date" min="@minDate" asp-format="{0:yyyy-MM-dd}" disabled=true>
                    <span asp-validation-for="booking_date" class=" alert-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.slot, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DropDownListFor(model => model.slot, new SelectList(ViewBag.lstSlot, "Text", "Value"),
                htmlAttributes: new { @id = "profileCountry", @class = "form-control col-md-4", @disabled=true})
                </div>
            }
             <div class="text-center mt-3">
                @if (ViewBag.ApproveTotal == (int)StatusSending.Process || ViewBag.Admin)
                {
                    <button type="submit" class="btn btn-lg btn-outline-primary px-4 py-2 mx-2"><i class="bi bi-save"></i> Accepted</button>
                }
                <a asp-controller="Reservation" asp-action="Index" class="btn btn-lg btn-outline-warning px-4 py-2">Back</a>
            </div>
    </form>

</div>


