@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">


    <div class="col mb-3">
        <a asp-controller="Category" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Thêm khoa khám</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" width="120px" style="text-align: center">Id</th>
                <th scope="col" width="120px" style="text-align: center">Id người tạo</th>
                <th scope="col" width="120px" style="text-align: center">Các khoa khám</th>
                <th scope="col" width="100px" style="text-align: center">Thông tin chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="20px">
                        @item.Id
                    </td>
                    <td width="20px">
                        @item.Creator
                    </td>
                    <td width="20px">
                        @item.Title
                    </td>
                    <td width="20px">
                        @item.Content
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Sửa</a>&nbsp;
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Xoá</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>