@model List<ManageUserRolesViewModel>
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
            <p>Add/Remove Roles for User / @ViewBag.UserName.</p>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input type="checkbox" asp-for="@Model[i].Selected" class="form-check-input" id="@Model[i].RoleId" />
                    <label class="form-check-label" asp-for="@Model[i].Selected" for="@Model[i].RoleId">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="UserRoles" asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </div>
</form>
